/*
!.gitignore
!/source/
/source/rasterizer/hlsl/*
!/source/rasterizer/hlsl/self_illumination.fx

!/data
/data/*
!/data/shmeegrim
/data/shmeegrim/*
!/data/shmeegrim/levels
/data/shmeegrim/levels/*
!/data/shmeegrim/levels/multi
/data/shmeegrim/levels/multi/*
!/data/shmeegrim/levels/multi/goliath
/data/shmeegrim/levels/multi/goliath/*
!/data/shmeegrim/levels/multi/homefront
/data/shmeegrim/levels/multi/homefront/*
!/data/shmeegrim/levels/multi/conflux
/data/shmeegrim/levels/multi/conflux/*
!/data/shmeegrim/levels/multi/conflux/scripts
!/data/shmeegrim/levels/multi/homefront/scripts
!/data/shmeegrim/levels/multi/goliath/scripts

!/tags
/tags/*
!/tags/shaders
/tags/shaders/*
!/tags/shaders/self_illumination_fx.hlsl_include 
!/tags/shaders/custom.render_method_definition
!/tags/shaders/custom_options
/tags/shaders/custom_options/*
!/tags/shaders/custom_options/window_room_map.render_method_option
!/tags/shaders/custom_options/illum_window_room.render_method_option


!/tags/shmeegrim
/tags/shmeegrim/levels/h3le/*
/tags/shmeegrim/levels/misc/*
/tags/shmeegrim/levels/multi/arrival/*
/tags/shmeegrim/levels/multi/gauntlet/*
/tags/shmeegrim/levels/multi/epirus/*
/tags/shmeegrim/levels/multi/epirus/*
/tags/shmeegrim/levels/multi/hot_drop/*
/tags/shmeegrim/levels/shared/cc_delta_halo/*
/tags/shmeegrim/objects/levels/shared/*

!/fmod/
/fmod/pc/*
!/fmod/pc/sfx.goliath.fsb
!/fmod/pc/sfx.goliath.fsb.info
!/fmod/pc/sfx.homefront.fsb
!/fmod/pc/sfx.homefront.fsb.info